<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/85c5eb4f-44e0-48c3-abd3-15fad21cb9d2/resourceGroups/CinemaProject2ResourceGroup/providers/Microsoft.Web/sites/CinemaProject2</ResourceId>
    <ResourceGroup>CinemaProject2ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cinemaproject2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5ebe140a-50b7-4c40-99d2-06bd8f9e2dab</ProjectGuid>
    <PublishUrl>https://cinemaproject2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CinemaProject2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>