@media screen and (max-width:650px) {

    #carouselExample img[b-qzou8v3ea3] {
        height: 40vh;
    }

    .quickbook-container[b-qzou8v3ea3] {
        display: none;
    }
}

@media screen and (max-width:400px) {

    .book-btn[b-qzou8v3ea3]{
        padding:0;
    }
}


.book-btn:hover[b-qzou8v3ea3] {
    background-color: #bf9004;
    border-color: #bf9004;
}

/*.book-btn {
    padding: 5px 15px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #ffc107;
    border-radius: 5px;
    transition: 0.5s;
    font-family: 'Lato', sans-serif;
}*/
