@using System.Security.Claims;
<!-- Start of navbar -->

@inject NavigationManager _navManager
@inject AuthenticationStateProvider stateProvider
@inject IUtilityService _utility;
@inject StateContainer stateContainer

@if (Message.Text != string.Empty)
{
	if (Message.Category == MessageCategory.Error)
	{
		<div class="alert alert-danger mb-0" role="alert">
			<b>@Message.Text</b>
		</div>
	}
	else if (Message.Category == MessageCategory.Warning)
	{
		<div class="alert alert-warning mb-0" role="alert">
			<b>@Message.Text</b>
		</div>
	}
	else if (Message.Category == MessageCategory.Success)
	{
		<div class="alert alert-success mb-0" role="alert">
			<b>@Message.Text</b>
		</div>
	}
}

<nav class="navbar navbar-expand-lg bg-dark mb-0 mt-0 ">
	<div class="container-fluid">
		<a class="navbar-brand text-warning" href=@(_navManager.Uri.Contains("/Admin") ? "/Admin" : "/") id="logo">CINEMAX</a>
		<button class="navbar-toggler navbar-light"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">


			

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">

				@if (_navManager.Uri.Contains("/Admin"))
				{
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle me-2 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span>Pages</span>
						</button>
						<ul class="dropdown-menu ">
							<li class="nav-item">
								<a href="/Admin" class="nav-link align-middle px-0">
									<i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-secondary"><b>Home</b></span>
								</a>
							</li>

							<li class="nav-item">
								<a href="/Admin/Branch" class="nav-link px-0 align-middle">
									<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-secondary"><b>Add Branch</b></span>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Admin/Movies/Create" class="nav-link px-0 align-middle">
									<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-secondary"><b>Add Movie</b></span>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Admin/CreateSession" class="nav-link px-0 align-middle">
									<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-secondary"><b>Add Session</b></span>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Admin/Branches" class="nav-link px-0 align-middle">
									<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-secondary"><b>Branches</b></span>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Admin/Movies" class="nav-link px-0 align-middle">
									<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-secondary"><b>Movies</b></span>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Admin/Sessions" class="nav-link px-0 align-middle">
									<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-secondary"><b>Sessions</b></span>
								</a>
							</li>

							@* 				<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li> *@
						</ul>
					</div>



					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					</ul>
				}
				

				<li class="nav-item">
					<LoginLogoutButton></LoginLogoutButton>
					@* <a class="nav-link" aria-current="page" href="index.html">Home</a> *@
				</li>

				

				<AuthorizeView>

					<NotAuthorized>
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/join" style="cursor:pointer;">Join</a>
						</li>
					</NotAuthorized>


					
				</AuthorizeView>

				<li class="nav-item">
					<a @onclick="GoToAdmin" style="cursor:pointer;" class="nav-link" aria-current="page" >Admin Page</a>
				</li>


			</ul>

		</div>
	</div>
</nav>

<!-- end of navbar -->

@code {
	public AuthenticationState authState;

	public Message Message { get; set; } = new Message();




	protected override async Task OnInitializedAsync()
	{
		

	}

	public async Task GoToAdmin()
	{
		authState = await stateProvider.GetAuthenticationStateAsync();

		if (authState.User.Identity.IsAuthenticated 
			&& this._utility.IsOfRole("admin", authState.User.Claims))
		{
			_navManager.NavigateTo("/Admin");
		}
		else
		{
			ShowMessage(MessageCategory.Error, "You must be logged in as Admin to access this page", 4);
		}
	}

	public async Task ShowMessage(MessageCategory category, string message, int seconds)
	{
		Message.Category = category;
		Message.Text = message;
		StateHasChanged();

		await Task.Delay(seconds * 1000);

		Message.Text = string.Empty;
		StateHasChanged();
	}

}
