@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorCinemaMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus text-secondary" aria-hidden="true"></span> <span class="text-secondary">Counter</span>
            </NavLink>
        </div> *@
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich text-secondary" aria-hidden="true"></span> <span class="text-secondary">Fetch Data</span>
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Admin" Match="NavLinkMatch.All">
                <span class="oi oi-home text-secondary" aria-hidden="true"></span> <span class="text-secondary">Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/Branch">
                <span class="oi oi-list-rich text-secondary" aria-hidden="true"></span> <span class="text-secondary">Add Branch</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/Movies/Create">
                <span class="oi oi-list-rich text-secondary" aria-hidden="true"></span> <span class="text-secondary">Add Movie</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/CreateSession">
                <span class="oi oi-list-rich text-secondary" aria-hidden="true"></span> <span class="text-secondary">Add Session</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/Branches">
                <span class="oi oi-list-rich text-secondary" aria-hidden="true"></span> <span class="text-secondary">Branches</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/Movies">
                <span class="oi oi-list-rich text-secondary" aria-hidden="true"></span> <span class="text-secondary">Movies</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/Sessions">
                <span class="oi oi-list-rich text-secondary" aria-hidden="true"></span> <span class="text-secondary">Sessions</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
