@page "/admin"
@attribute [Authorize(Roles = "admin")]

@using BlazorCinemaMS.Client.Services;
@using BlazorCinemaMS.Client.Services.MoviesService;
@using Microsoft.AspNetCore.Authorization;
@inject IMoviesService moviesService
@inject IJSRuntime Javascript

<div class="page white-background-container" style="background-color:#fff;min-height:100vh;">
     <div class="sidebar">
    <NavMenu />
    </div> 






    <main>
        @* <div class="top-row px-4"> *@
        @* <LoginLogoutButton/> *@
        @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        @* </div>  *@

        <article class="content px-4">
        <p> asd as ,as ,as</p>
        </article> 


        



    </main>
</div>









@code {


	//Whenever this component is initialized for the first time
	//lifecycle method
	protected override async Task OnInitializedAsync()
	{
		await moviesService.GetTrendingMovies();

		await moviesService.GetMovieSuggestionsByName("home alone");

		await moviesService.GetMovieById(654974);

		Console.Write(moviesService.MovieSuggestions);
	}

	
}
