@page "/admin"
@* @attribute [Authorize(Roles = "admin")] *@

@using BlazorCinemaMS.Client.Services;
@using BlazorCinemaMS.Client.Services.MoviesService;
@using Microsoft.AspNetCore.Authorization;
@inject IMoviesService moviesService
@inject IJSRuntime Javascript
@inject NavigationManager _navManager

<div class="page white-background-container" style="background-color:#fff;min-height:100vh;">



	@* @if (Message.Text != string.Empty)
	{
		if (Message.Category == MessageCategory.Error)
		{
			<div class="alert alert-danger" role="alert">
				@Message.Text
			</div>
		}
		else if (Message.Category == MessageCategory.Warning)
		{
			<div class="alert alert-warning" role="alert">
				@Message.Text
			</div>
		}
		else if (Message.Category == MessageCategory.Success)
		{
			<div class="alert alert-success" role="alert">
				@Message.Text
			</div>
		}
	} *@


	<Navbar></Navbar>



	<div class="container pt-4">

		

	</div>



   
</div>




@code {


	//Whenever this component is initialized for the first time
	//lifecycle method
	protected override async Task OnInitializedAsync()
	{
		await moviesService.GetTrendingMovies();

		await moviesService.GetMovieSuggestionsByName("home alone");

		await moviesService.GetMovieById(654974);

		Console.Write(moviesService.MovieSuggestions);
	}

	
}
